<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="style.css">
</head>

<body>

  <h1>File Uploader</h1>

  <%if (!user) {%>
    <form action="/log-in" method="post">
      <p>Log in </p>
      <label for="username">
        username
        <input type="text" name="username" id="username">
      </label>
      <label for="password">
        password
        <input type="password" name="password" id="password">
      </label>
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
    <button class="btn">
      <a href="/register"> Sign Up </a>
    </button>
    <%}else {%>
      <p>Welcome! <%= user.username%>
      </p>
      <div class="folder-container">
        <div class="folder-header">Name</div>
        <div class="folder-header">Size</div>
        <div class="folder-header">Last Modified</div>
        <div class="folder-header">Created At</div>
        <% folders.forEach(folder=> {%>
          <div class="folder-item folder-name">
            <a href="/files/<%=user.id%>/<%=folder.name%>">
              <%=folder.name%>
            </a>
          </div>
          <div class="folder-item ">
            <%=folder.size%>
          </div>
          <div class="folder-item ">
            <%=folder.updatedAt%>
          </div>
          <div class="folder-item ">
            <%=folder.createdAt%>
          </div>
          <%})%>
      </div>
      <p>Create a new folder here</p>
      <form action="/files/<%=user.id%>/create-folder" method="post">
        <label for="dirName">
          <input type="text" name="dirName" id="dirName">
        </label>
        <button type="submit" class="btn btn-primary">Create folder</button>
      </form>
      <button>
        <a href="/log-out">Log Out</a>
      </button>
      <%}%>


</body>

</html>